body{
    /*background-image:linear-gradient(180deg, rgba(18, 18, 18, 0), #121212),url("background.png");
    background-size: cover;
    background-repeat: no-repeat; */
    
    height: 100%;
    margin: 0;
    width: 100%;
}
.myvideo{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    background-image:linear-gradient(180deg, rgba(8, 8, 8, 0)10%, #343131);
    opacity: .8;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
  
}
.nav{
    width: 100%;
    margin: 0;
    overflow: hidden;
    top: 0;
    height:30px;
    display: flex;
    flex-direction: row;
    background-color:rgba(18,18,18,0.6);
    border-bottom: 1px solid;
    backdrop-filter: blur(10px);
    position: absolute;
    justify-content: space-between;
    padding: 15px 0px;
    position: relative;
}
.logo{
    padding: 1px 24px ;
}
.items{
    width: 100px;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
    align-items: center;
}
.item{    
    font-size:16px;
    font-weight: 700;
    font-family: 'syne';
    color: white;
    text-align: center;
    line-height: 20px;
}
.end{
    width: 180px;
    justify-content: space-around;
    padding: 1px 24px;
    flex-direction: row;
    display: flex;
    align-items: center;
}
.see{        
    color: #FFFFFF;    
}
.action{    
    border-radius: 39px;     
    height: 38px;
    width:100px;
    background-color: #FFFFFF;
    color: #000000;
}

.heading{
    position: relative;
    top:10%;
    margin-left: 24px;
    align-items: flex-start;
    height: 45%;
}
.big-text{
   
    font-family:'Lucida Sans';
    font-style: normal;
    font-weight: 700;
    font-size:40px;
    line-height: 60px;
    color: white;
    width:800px;
    height: 123px;
    text-align: left;
    padding-bottom: 3%;
    
}
span{
    color: #FFE500;
}
.small-text{
    font-family:'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18x;
    line-height: 20px;
    color: white;
    width:700px;
    height: 60px;
    margin: 0px;
    text-align: left;
    padding-bottom: 24px;
    
}

.view{
    border-radius: 93px;    
    height: 40px;
    width: 200px;
    background-color: #121212;
    color: #ffffff;
    border-color: #FFE500;
    padding: 1px 0px;
    align-self: left;
    float: left;
    
    top: 30px;
    
}
.cards{
    margin-top: 10%;
    left: 0px;
    height: 150px;
    bottom: 30px;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    justify-content: space-around;    
    position: relative;
    
}
.card{
    width: 230px;
    height: 130px;
    background:linear-gradient( rgba(0,0,0,0.5));
    background-image:linear-gradient(180deg, rgba(37, 37, 37, 0)10%, #343131);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    color: white;
    font-size: 24px;
    border-radius: 10px;
    bottom: 0px;
    text-align: center;
    margin-left: 0px;
}
.s1{
    background-image:linear-gradient( rgba(7, 7, 7, 0), #000000),url(background.png);
 }
.s2{
    background-image:linear-gradient( rgba(11, 11, 11, 0), #000000),url(Overlay\ \(1\).png);
 }
 .s3{
    background-image:linear-gradient( rgba(7, 7, 7, 0), #121212),url(Overlay.png);
 }
 .s4{
    background-image:linear-gradient( rgba(7, 7, 7, 0), #121212),url(background.png);
 }
.s5{
    background-image:linear-gradient( rgba(7, 7, 7, 0), #121212),url(Overlay\ \(1\).png);
 }
.card p{
    margin-top: 30px;
    font-size: 30px;
    color: #ffffff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 700px;
    text-align: center;
}

